<app-page-header>
  Template driven form components
</app-page-header>
<h2 class="mb-3">
  Overview
</h2>
<p>
  Select a component below to displayed more detailed information.
</p>
<ul class="mb-4">
  <li><a routerLink="errorHeader">Error Header</a></li>
  <li><a routerLink="errorFeedback">Error Feedback</a></li>
  <li><a routerLink="formLabel">Form Label</a></li>
  <li><a routerLink="formInputNumber">Form Input - Number</a></li>
  <li><a routerLink="formInputSelect">Form Input - Select</a></li>
  <li><a routerLink="formInputText">Form Input - Text</a></li>
</ul>
<hr>
<div aria-live="polite">
  <router-outlet/>
</div>
<hr>
<h2 class="mb-3">
  Examples
</h2>
<form
  appFormA11y
  autocomplete="off"
  #templateForm="ngForm"
  [formErrorHeader]="formErrorHeader"
  (ngSubmit)="submit(templateForm)">
  <app-form-error-header
    #formErrorHeader
    [errorFormGroup]="templateForm.form">
  </app-form-error-header>
  <fieldset>
    <legend class="visually-hidden">
      FormControl fields
    </legend>
    <div class="col-lg-6 mb-3">
      <app-form-input-text
        name="formValueText"
        inputErrorMessageId="formValueTextError"
        inputId="formValueText"
        inputLabelText="Form Text Value"
        inputRequired="true"
        [inputErrorMessages]="errorMessageMap()"
        [(ngModel)]="formTextValue"
        required>
      </app-form-input-text>
    </div>
    <div class="col-lg-3 mb-3">
      <app-form-input-number
        name="formValueNumber"
        inputErrorMessageId="formValueNumberError"
        inputId="formValueNumber"
        inputLabelText="Form Number Value"
        inputMin="0"
        inputMax="99"
        inputRequired="true"
        [inputErrorMessages]="errorMessageMap()"
        [(ngModel)]="formNumberValue"
        required>
      </app-form-input-number>
    </div>
    <div class="col-lg-3 mb-3">
      <app-form-input-select
        name="formControlSelect"
        inputErrorMessageId="formControlSelectError"
        inputLabelText="Form Select Value"
        inputId="formControlSelect"
        inputRequired="true"
        [inputErrorMessages]="errorMessageMap()"
        [(ngModel)]="formSelectValue"
        required>
        @for (formSelectElement of formSelectElements(); track $index) {
          <option [value]="formSelectElement">
            {{ 'Item ' + formSelectElement }}
          </option>
        }
      </app-form-input-select>
    </div>
  </fieldset>
  <div class="mt-4">
    <button
      class="btn btn-primary mb-1"
      type="submit">
      Submit
    </button>
  </div>
</form>
<div class="mb-2 mt-4">
  Return to:
  <a routerLink="/" aria-label="Return to home page">
    Home
  </a>
</div>